.ProductList{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.ProductCard {
  width: 20em;
  margin: 0.2em;
}
.ShoppingCart{
	width: 20%;
	height: 100vh;
}

.right-page{
	width: 80%
}

.card-image{
	max-width: 10vw;
	max-height: auto;
}

.card-frame{
	width: 100%
}